@font-face {
  font-family: 'Geometria-Light';
  src: url("../fonts/geometria-light.eot");
  src: url("../fonts/geometria-light.eot?#iefix") format("embedded-opentype"), url("../fonts/geometria-light.woff") format("woff"), url("../fonts/geometria-light.ttf") format("truetype");
}
/* line 1, ../scss/generic/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  background: #333333;
  font-family: 'Geometria-Light', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 10, ../scss/generic/_base.scss */
h1 {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/generic/_base.scss */
a {
  color: #FFFFFF;
  text-decoration: none;
}

/* line 20, ../scss/generic/_base.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*nav{
  position: fixed;
  width: 100px;
  height: 100%;
  background: $white;
  z-index: 100;

  h1{
    position: relative;
    font-size: 28px;

    z-index: 100;

    a{
      background: $yellow;
      height: 80px;
      text-align: center;
      color: $white;
      display: block;
      @include box-sizing(border-box);
      padding-top: 23px;

      @include geometria();
    }

    &:hover{

      .link-alt{
        left: 100px;
      }
    }

    .link-alt{
      background: $yellow;
      color: $white;
      font-size: 28px;
      padding-top: 25px;
    }
  }

  ul{
    li{
      position: relative;
      width: 100%;
      height: 90px;

      a{
        width: 100%;
        height: 90px;
        display: block;
        color: $gray2;
        text-align: center;
        @include box-sizing(border-box);
        padding-top: 18px;
        @include transition(background 0.5s);
        @include transition(color 0.5s);
        border: 0 solid $yellow;

        @include geometria();
        font-size: 18px;

        background: $white;

        &:hover{
          background: $gray;
          color: $black;
          border-left-width: 2px;

          + .link-alt{
            left: 100px;
          }

        }

        i{
          font-size: 30px;
        }

        span{
          display: block;
          padding-top: 2px;
        }
      }
    }
  }
}

.link-alt{
  position: absolute;
  top: 0;
  left: -200px;

  background: $gray;
  color: $black;
  border: solid;

  border-width: 0 3px 0 0;
  border-color: $yellow;
  @include border-radius(2);

  z-index: -1;

  white-space: nowrap;

  display: block;
  height: 100%;
  font-size: 20px;
  padding: 32px 20px 5px;
  @include box-sizing(border-box);

  @include transition(left 0.3s);
}*/
/* line 115, ../scss/layout/_menu.scss */
nav {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
}
/* line 120, ../scss/layout/_menu.scss */
nav ul {
  text-align: center;
}
/* line 123, ../scss/layout/_menu.scss */
nav ul li {
  display: inline-block;
}
/* line 126, ../scss/layout/_menu.scss */
nav ul li i {
  font-size: 35px;
  color: #FFFFFF;
  border-radius: 100px;
  display: inline-block;
  border: 3px solid #00E8E8;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  background: rgba(17, 17, 17, 0.7);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 8px;
}
/* line 142, ../scss/layout/_menu.scss */
nav ul li i.fa-photo {
  padding-top: 10px;
}
/* line 146, ../scss/layout/_menu.scss */
nav ul li i.fa-film {
  padding-left: 2px;
}
/* line 150, ../scss/layout/_menu.scss */
nav ul li i.fa-phone {
  padding-top: 11px;
}
/* line 155, ../scss/layout/_menu.scss */
nav ul li span {
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 164, ../scss/layout/_menu.scss */
nav ul li a:hover i {
  background: rgba(17, 17, 17, 0.3);
  color: #00E8E8;
  border-color: #1cffff;
}
/* line 170, ../scss/layout/_menu.scss */
nav ul li a:hover span {
  color: #00E8E8;
}

/* line 1, ../scss/layout/_content.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 7, ../scss/layout/_content.scss */
section {
  width: 100%;
  height: 100%;
  min-height: 580px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFFFFF;
  border-bottom: 1px solid #111111;
  position: relative;
  overflow: hidden;
}
/* line 17, ../scss/layout/_content.scss */
section h2 {
  width: 40%;
  color: #FFFFFF;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 29, ../scss/layout/_content.scss */
section h2:before {
  content: "";
  background: rgba(17, 17, 17, 0.5);
  left: -50%;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 9;
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
/* line 40, ../scss/layout/_content.scss */
section h2 span {
  position: relative;
  z-index: 10;
}

/* line 1, ../scss/layout/_home.scss */
.home {
  width: 100%;
  height: 100%;
  min-height: 580px;
  background-image: url("../img/pont-chaban.jpg");
  background-size: 100%;
  position: relative;
  overflow: hidden;
}
/* line 10, ../scss/layout/_home.scss */
.home .me {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
  height: 100px;
}
/* line 21, ../scss/layout/_home.scss */
.home .me:before {
  content: "";
  background: rgba(0, 232, 232, 0.5);
  top: 0;
  bottom: 0;
  left: -50%;
  right: 50%;
  position: absolute;
  z-index: 9;
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
/* line 32, ../scss/layout/_home.scss */
.home .me:after {
  content: "";
  background: rgba(17, 17, 17, 0.5);
  top: 0;
  bottom: 0;
  left: 50%;
  right: -50%;
  position: absolute;
  z-index: 9;
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
/* line 43, ../scss/layout/_home.scss */
.home .me .left, .home .me .right {
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -27px;
  font-size: 70px;
  line-height: 70px;
}
/* line 53, ../scss/layout/_home.scss */
.home .me .left {
  right: 55%;
}
/* line 57, ../scss/layout/_home.scss */
.home .me .right {
  left: 55%;
}
/* line 62, ../scss/layout/_home.scss */
.home .designer,
.home .videaste {
  position: absolute;
  height: 50px;
  font-size: 30px;
  color: #FFFFFF;
  z-index: 10;
  cursor: pointer;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 74, ../scss/layout/_home.scss */
.home .designer span,
.home .videaste span {
  position: relative;
  z-index: 10;
}
/* line 80, ../scss/layout/_home.scss */
.home .designer {
  top: 30%;
  margin-top: -50px;
  left: 50%;
  margin-left: 55px;
  right: -50%;
  padding-left: 50px;
  padding-top: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 89, ../scss/layout/_home.scss */
.home .designer:hover {
  padding-left: 60px;
}
/* line 93, ../scss/layout/_home.scss */
.home .designer:before {
  content: "";
  position: absolute;
  background: rgba(0, 232, 232, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
/* line 105, ../scss/layout/_home.scss */
.home .videaste {
  top: 30%;
  margin-top: 140px;
  right: 50%;
  margin-right: 55px;
  left: -50%;
  padding-right: 50px;
  text-align: right;
  padding-top: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 116, ../scss/layout/_home.scss */
.home .videaste:hover {
  padding-right: 60px;
}
/* line 120, ../scss/layout/_home.scss */
.home .videaste:before {
  content: "";
  position: absolute;
  background: rgba(17, 17, 17, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  transform: skewX(-30deg);
}

/* line 1, ../scss/layout/_contact.scss */
#contact {
  position: relative;
}
