/*nav{
  position: fixed;
  width: 100px;
  height: 100%;
  background: $white;
  z-index: 100;

  h1{
    position: relative;
    font-size: 28px;

    z-index: 100;

    a{
      background: $yellow;
      height: 80px;
      text-align: center;
      color: $white;
      display: block;
      @include box-sizing(border-box);
      padding-top: 23px;

      @include geometria();
    }

    &:hover{

      .link-alt{
        left: 100px;
      }
    }

    .link-alt{
      background: $yellow;
      color: $white;
      font-size: 28px;
      padding-top: 25px;
    }
  }

  ul{
    li{
      position: relative;
      width: 100%;
      height: 90px;

      a{
        width: 100%;
        height: 90px;
        display: block;
        color: $gray2;
        text-align: center;
        @include box-sizing(border-box);
        padding-top: 18px;
        @include transition(background 0.5s);
        @include transition(color 0.5s);
        border: 0 solid $yellow;

        @include geometria();
        font-size: 18px;

        background: $white;

        &:hover{
          background: $gray;
          color: $black;
          border-left-width: 2px;

          + .link-alt{
            left: 100px;
          }

        }

        i{
          font-size: 30px;
        }

        span{
          display: block;
          padding-top: 2px;
        }
      }
    }
  }
}

.link-alt{
  position: absolute;
  top: 0;
  left: -200px;

  background: $gray;
  color: $black;
  border: solid;

  border-width: 0 3px 0 0;
  border-color: $yellow;
  @include border-radius(2);

  z-index: -1;

  white-space: nowrap;

  display: block;
  height: 100%;
  font-size: 20px;
  padding: 32px 20px 5px;
  @include box-sizing(border-box);

  @include transition(left 0.3s);
}*/


nav {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  height: 120px;
  padding-top: 20px;
  @include box-sizing(border-box);
  background: rgba(#000, 0.5);

  ul {
    text-align: center;

    li{
      display: inline-block;

      i {
        font-size: 35px;
        color: $white;
        border-radius: 100px;
        display: inline-block;
        border: 3px solid $blue;
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        background: rgba($black, 0.7);

        @include box-sizing(border-box);
        @include transition(all 0.3s);
        padding-top: 8px;

        &.fa-photo {
          padding-top: 10px;
        }

        &.fa-film {
          padding-left: 2px;
        }

        &.fa-phone {
          padding-top: 11px;
        }
      }

      span {
        font-size: 20px;
        text-transform: uppercase;
        color: $white;
        @include transition(all 0.3s);
      }

      a {
        &:hover {
          i {
            background: rgba($black, 0.3);
            color: $blue;
            border-color: lighten($blue, 10%);
          }

          span {
            color: $blue;
          }
        }
      }
    }
  }
}