nav{
  position: fixed;
  width: 100px;
  height: 100%;
  background: $white;

  h1 a{
    background: $yellow;
    height: 80px;
    text-align: center;
    color: $white;
    display: block;
    @include box-sizing(border-box);
    padding-top: 27px;

    @include geometria();
  }

  ul{
    li{
      position: relative;
      a{
        width: 100%;
        height: 90px;
        display: block;
        color: $gray2;
        text-align: center;
        @include box-sizing(border-box);
        padding-top: 18px;
        @include transition(background 0.5s);
        @include transition(color 0.5s);
        border: 0 solid $yellow;

        @include geometria();
        font-size: 18px;

        &:hover{
          background: $gray;
          color: $black;
          border-left-width: 2px;

          .link-alt{
            left: 120px;
          }
        }

        i{
          font-size: 30px;
        }

        span{
          display: block;
          padding-top: 2px;
        }
      }
    }
  }
}

.link-alt{
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  color: $black;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.9);
  height: 30px;
  top: 50%; margin-top: -15px;
  padding: 5px;
  left: -200px;
  z-index: -1;
  font-size: 24px;
  white-space: nowrap;
  display: block;
  @include border-radius(2px);

  @include transition(left 0.5s);
}